<a href="https://colab.research.google.com/github/YaelAram/cyp_2021/blob/master/19_nov_2020_CyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
i = 0
i += 1
print(f"I value : {i}")

j = (5 ** 2)/3
print(f"J value: {j}")

I value : 1
J value: 8.333333333333334
First Number: 1
Second Number: 2
Third Number: 3
[1, 2, 3]
[3, 2, 1]

In [21]:
numberList = [int(input("First Number: ")), int(input("Second Number: ")), int(input("Third Number: "))]
print(numberList)
print(numberList[::-1])

First Number: 1
Second Number: 2
Third Number: 3
[1, 2, 3]
[3, 2, 1]

In [18]:
a = int(input("a value: "))
b = int(input("b value: "))
print(((a + b) ** 2)/3)

a value: 14
b value: -5
27.0

In [26]:
numberList = [float(input("First Number: ")), float(input("Second Number: ")), float(input("Third Number: ")), float(input("Fourth Number: ")), float(input("Fifth Number: "))]
mat = input("Name/ID: ")
count = 0
for number in numberList :
    count += number
print(f"{mat} - Average: {count/len(numberList)}")

First Number: 1
Second Number: 2
Third Number: 5
Fourth Number: 6
Fifth Number: 2
Name/ID: asd
asd - Average: 3.2

In [30]:
num = int(input("Number: "))
print(num ** 2)
print(num ** 3)

Number: 7
49
343

In [32]:
base = float(input("Base: "))
height = float(input("Height: "))
print(f"Area: {base * height}")
print(f"Perimeter: {2 * (base + height)}")

Base: 8.5
Height: 6.2
Area: 52.7
Perimeter: 29.4