<a href="https://colab.research.google.com/github/YaelAram/cyp_2021/blob/master/Examen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# Ejercicio 1
calificacion = float(input("Calificacion: "))
if 0 <= calificacion <= 10:
    if calificacion >= 8.0:
        print("Alumno Aprobado")
    else:
        print("Alumno Reprobado")
else:
    print("Ingresa una calificacion correcta, rango de 0 a 10")

Calificacion: 8
Alumno Aprobado

In [20]:
# Ejercicio 2
# Una lista es una coleccion de datos en el que se puede almacenar cualquier cantidad de datos y cualquier tipo de dato
# Ademas de tener la caracteristica de ser mutable

lista = [1, 1.2, True, "Hola Mundo", [1, 2, 3], (3.1415), {1, 2, 3}, {"Nombre" : "Yael", "Edad" : 18}]
for index, i in enumerate(lista):
    print(f"Elemento de la lista #{index}: {i}")

Elemento de la lista #0: 1
Elemento de la lista #1: 1.2
Elemento de la lista #2: True
Elemento de la lista #3: Hola Mundo
Elemento de la lista #4: [1, 2, 3]
Elemento de la lista #5: 3.1415
Elemento de la lista #6: {1, 2, 3}
Elemento de la lista #7: {'Nombre': 'Yael', 'Edad': 18}

In [22]:
# Ejercicio 3
limite = int(input("Limite: "))
tabla_5 = [(numero*5) for numero in range(limite + 1)]
for index, i in enumerate(tabla_5):
    print(f"5x{index} = {i}")

Limite: 10
5x0 = 0
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
5x10 = 50

In [24]:
# Ejercicio 4
primer_nombre = input("Primer Nombre: ")
segundo_nombre = input("Segundo Nombre: ")

if primer_nombre[0] == segundo_nombre[0] or primer_nombre[-1] == segundo_nombre[-1]:
    print("Coinciden")
else:
    print("No coinciden")

Primer Nombre: Alberto
Segundo Nombre: Ana
Coinciden

In [29]:
# Ejercicio 5
for i in range(100, 0, -1):
    if i%25 == 0:
        print(f"{i} ")
    else:
        print(f"{i} ", end='')

100
99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75
74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50
49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25
24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [30]:
# Ejercicio 6
numero_1 = float(input("Primer Numero: "))
numero_2 = float(input("Segundo Numero: "))

if numero_1 == numero_2:
    print("Ambos numeros son iguales")
elif numero_1 > numero_2:
    print("El primer numero es mayor")
else:
    print("El segundo numero es mayor")

Primer Numero: 2.3
Segundo Numero: 1.2
El primer numero es mayor

In [35]:
# Ejercicio 7
print("Candidato A \nCandidato B \nCandidato C")
voto = input("Usted data su voto al candidato: ")
voto = voto.upper()
if voto == 'A':
    print("Usted ha votado por el partido rojo")
elif voto == 'B':
    print("Usted ha votado por el partido verde")
elif voto == 'C':
    print("Usted ha votado por el partido azul")
else:
    print("Opcion no valida")

Candidato A
Candidato B
Candidato C
Usted data su voto al candidato: c
Usted ha votado por el partido azul

In [36]:
# Ejercicio 8
monto = float(input("Monto total:"))
print(f"El monto a final de mes sera {(monto + (monto*0.03)):.2f}")

Monto total:100
El monto a final de mes sera 103.00

In [41]:
# Ejercicio 9
marca, modelo = ["Ford", "Nissan", "Tesla", "Ferrari", "Audi"], ["Focus", "Leaf", "Model S", "F40", "A3"]
color, matricula = ["Verde", "Rojo", "Azul", "Amarillo", "Negro"], ["A123", "A12AS", "AS123", "FG5W", "ASD3234"]
precio = [12332, 123123, 123123, 12312, 345345, 67567]
auto = {"Marca" : marca, "Modelo" : modelo, "Color" : color, "Matricula" :matricula, "Precio" : precio}
aux = 0
for i in range(5):
    print(f"Auto #{i + 1}")
    for j in auto:
        print(f"{auto[j][aux]}  ", end='')
    print("\n")

Auto #1
Ford  Focus  Verde  A123  12332

Auto #2
Ford  Focus  Verde  A123  12332

Auto #3
Ford  Focus  Verde  A123  12332

Auto #4
Ford  Focus  Verde  A123  12332

Auto #5
Ford  Focus  Verde  A123  12332

In [44]:
# Ejercicio 10
letra = input("Ingresa una letra: ")
if len(letra) > 1:
    print("Solo ingresa una letra")
else:
    letra = letra.upper()
    if letra == 'A' or letra == 'E' or letra == 'I' or letra == 'O' or letra == 'U':
        print("Es una vocal")
    else:
        print("No es una vocal")

Ingresa una letra: o
Es una vocal