<a href="https://colab.research.google.com/github/YaelAram/cyp_2021/blob/master/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ejercicio 3.1 (pag. 109)
msg = "Sueldo: $"
salario = [float(input(msg)), float(input(msg)), float(input(msg)), float(input(msg)), float(input(msg)), float(input(msg)), float(input(msg)), float(input(msg)), float(input(msg)), float(input(msg))]
nomina = salario[0] + salario[1] + salario[2] + salario[3] + salario[4] + salario[5] + salario[6] + salario[7] + salario[8] + salario[9]
print(f"Nomina total: ${nomina}")

Sueldo: $1500
Sueldo: $890
Sueldo: $700
Sueldo: $950
Sueldo: $2300
Sueldo: $1650
Sueldo: $1800
Sueldo: $1400
Sueldo: $760
Sueldo: $900
Nomina total: $12850.0

In [3]:
#Ejercicio 3.1 (pag. 109)
salario = []
cont = 0
for i in range(10) :
    salario.append(float(input(f"Salario: $")))
for i in salario :
    cont += i
print(f"Nomina total: ${cont}")

Salario: $1500
Salario: $890
Salario: $700
Salario: $950
Salario: $2300
Salario: $1650
Salario: $1800
Salario: $1400
Salario: $760
Salario: $900
Nomina total: $12850.0

In [ ]:
#Ejercicio 3.4 (pag. 117)
montoTotal = 0
flag = 1.0
while flag > 0.0 :
    aux = float(input("Monto: $"))
    montoTotal += (aux if aux > 0.0 else 0.0)
    flag = aux
print(f"El total de gastos es: ${montoTotal}")

Monto: $2528
Monto: $3500
Monto: $1600
Monto: $1850
Monto: $150
Monto: $-1
El total de gastos es: $9628.0